<!--
 * @Author: heyongqiang 1498833800@qq.com
 * @Date: 2023-05-26 21:36:54
 * @LastEditors: heyongqiang 1498833800@qq.com
 * @LastEditTime: 2023-05-31 00:16:38
 * @FilePath: /grafana/public/app/partials/reset_password.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<div class="signup">
		<h3 class="p-b-1">Reset password</h3>

		<div ng-if="ldapEnabled || authProxyEnabled">
			启用LDAP或身份验证代理身份验证时，无法重置密码。
		</div>
		<div ng-if="disableLoginForm">
			当登录表单被禁用时，您不能重置密码。
		</div>
		<form name="sendResetForm" class="login-form gf-form-group" ng-show="mode === 'send'" ng-hide="ldapEnabled || authProxyEnabled || disableLoginForm || mode === 'reset'">
			<div class="gf-form">
					<span class="gf-form-label width-7">用户</span>
					<input type="text" name="username" class="gf-form-input max-width-14" required ng-model='formModel.userOrEmail' placeholder="邮箱或用户名">
			</div>
			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-primary" ng-click="sendResetEmail();" ng-disabled="!sendResetForm.$valid">
					重置密码
				</button>
				<a href="login" class="btn btn-inverse">
					返回
				</a>

			</div>
		</form>
		<div ng-show="mode === 'email-sent'">
			带有重置链接的电子邮件已发送到该电子邮件地址。<br>
			你应该很快收到它。
			<div class="p-t-1">
				<a href="login" class="btn btn-primary p-t-1">
					登录
				</a>
			</div>
		</div>
		<form name="resetForm" class="login-form gf-form-group" ng-show="mode === 'reset'">
			<div class="gf-form">
				<span class="gf-form-label width-9">新密码</span>
				<input type="password" name="NewPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.newPassword' placeholder="密码" watch-change="formModel.newPassword = inputValue;">
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-9">确认密码</span>
				<input type="password" name="ConfirmPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.confirmPassword' placeholder="确认密码">
			</div>
			<div class="signup__password-strength">
				<password-strength password="formModel.newPassword"></password-strength>
			</div>
			<div class="gf-form-button-row">
				<button type="submit" class="btn btn-primary" ng-click="submitReset();" ng-disabled="!resetForm.$valid">
					重置密码
				</button>
			</div>
		</form>
	</div>
</div>

<footer />
