<!--
 * @Author: heyongqiang 1498833800@qq.com
 * @Date: 2023-05-28 10:53:28
 * @LastEditors: heyongqiang 1498833800@qq.com
 * @LastEditTime: 2023-05-29 16:57:31
 * @FilePath: /grafana/public/app/features/panel/panellinks/module.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="editor-row">
  <div class="gf-form-group" ng-repeat="link in panel.links">
    <div class="section">
      <div class="gf-form max-width-25">
        <span class="gf-form-label width-7">Type</span>
        <div class="gf-form-select-wrapper gf-form--grow">
          <select class="gf-form-input" ng-model="link.type" ng-options="f for f in ['dashboard','absolute']"></select>
        </div>
      </div>

      <div class="gf-form max-width-25">
        <span class="gf-form-label width-7" ng-show="link.type === 'dashboard'">Dashboard</span>
        <input
          ng-show="link.type === 'dashboard'"
          type="text"
          ng-model="link.dashboard"
          bs-typeahead="searchDashboards"
          class="gf-form-input"
          ng-blur="dashboardChanged(link)"
        />

        <span class="gf-form-label width-7" ng-show="link.type === 'absolute'">Url</span>
        <input ng-show="link.type === 'absolute'" type="text" ng-model="link.url" class="gf-form-input max-width-14" />
      </div>

      <div class="gf-form max-width-25">
        <div class="gf-form-label width-7">Title</div>
        <input type="text" ng-model="link.title" class="gf-form-input" />
      </div>
    </div>

    <div class="section">
      <div class="gf-form">
        <span class="gf-form-label width-10">Url params</span>
        <input type="text" ng-model="link.params" class="gf-form-input width-10" />
      </div>

      <gf-form-switch
        class="gf-form"
        label-class="width-10"
        label="Include time range"
        checked="link.keepTime"
      ></gf-form-switch>
      <gf-form-switch
        class="gf-form"
        label-class="width-10"
        label="Include variables"
        checked="link.includeVars"
      ></gf-form-switch>
      <gf-form-switch
        class="gf-form"
        label-class="width-10"
        label="Open in new tab "
        checked="link.targetBlank"
      ></gf-form-switch>
    </div>

    <div class="section">
      <div class="gf-form">
        <button class="btn btn-inverse gf-form-btn" ng-click="deleteLink(link)">
          <icon name="trash-alt"></icon> Remove Link
        </button>
      </div>
    </div>
  </div>
</div>

<div class="editor-row">
  <button class="btn btn-inverse" ng-click="addLink()"><icon name="'plus'"></icon>  添加链接</button>
</div>
